html, body {
    height: 100%;
    margin: 0; 
}
#contenedor{
    position: relative;
    margin: 0 auto;
    width: 52%;
    height: 100%;
    min-width: 260px;
    min-height: 565px;
    background-color: aqua;
}
/*--------------------------------------*/
#bienvenida{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    top: 20%;
    font-size: 10vw;
    border: 1px solid black;
}

#elegir{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    top:35%;
    font-size: 7vw;
    border: 1px solid black;
}

#rutinaA{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 12%;
    top: 60%;
    left: 5%;
    font-size: 5vw;

    cursor: pointer;
    transition: transform 0.1s ease;
    border: 1px solid black;
}
#rutinaA:hover{
    transform: scale(1.05);
}
#rutinaA:active{
    transform: scale(0.95);
}
#rutinaB{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 12%;
    top: 60%;
    left: 55%;
    font-size: 5vw;

    cursor: pointer;
    transition: transform 0.1s ease;
    border: 1px solid black;
}
#rutinaB:hover{
    transform: scale(1.05);
}
#rutinaB:active{
    transform: scale(0.95);
}
/*--------------------------------------*/

.cronometro{
    position: absolute;
    width: 100%;
    top: 10%;
    font-size: 300%;
    text-align: center;
}

.preparados{
    position: absolute;
    width: 100%;
    top: 20%;
    font-size: 150%;
    text-align: center;
}
.ejercicio{
    position: absolute;
    width: 100%;
    top: 30%;
}

.boton{
    position: absolute;
    top: 65%; 
    left: 35%; 
    width: 30%;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.1s ease;
}
.boton:hover{
    transform: scale(1.05);
}
.boton:active{
    transform: scale(0.95);
}

/*--------------------------------------*/

@keyframes ocultar {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}
.ocultar{
    animation: ocultar 0.5s ease forwards;
}

@keyframes mostrar {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.aparecer{
    animation: mostrar 0.5s ease forwards;
}
/*--------------------------------------*/
