html, body {
    height: 100%;
    margin: 0; 
}
#contenedor{
    position: relative;
    margin: 0 auto;
    width: clamp(565px, 100%, 100%);
    aspect-ratio: 16/7;
}
/*--------------------------------------*/
#bienvenida{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    top: 15%;
    font-size: clamp(40px, 7vw, 7vw);
}

#elegir{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    top:35%;
    font-size: clamp(30px, 5vw, 5vw);
}

#rutinaA{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 12%;
    top: 60%;
    left: 5%;
    font-size: clamp(20px, 3vw, 3vw);

    cursor: pointer;
    transition: transform 0.1s ease;
    border: 1px solid black;
}
#rutinaA:hover{
    transform: scale(1.05);
}
#rutinaA:active{
    transform: scale(0.95);
}
#rutinaB{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 12%;
    top: 60%;
    left: 55%;
    font-size: clamp(20px, 3vw, 3vw);

    cursor: pointer;
    transition: transform 0.1s ease;
    border: 1px solid black;
}
#rutinaB:hover{
    transform: scale(1.05);
}
#rutinaB:active{
    transform: scale(0.95);
}
/*--------------------------------------*/

.cronometro{
    position: absolute;
    width: 13.3%;
    height: 10%;
    top: 13%;
    left: 0%;
    font-size: clamp(20px, 3vw, 3vw);
    text-align: center;
}

.preparados{
    position: absolute;
    width: 13.3%;
    top: 25%;
    left: 0%;
    font-size: clamp(10px, 1.5vw, 1.5vw);
    text-align: center;
}
.ejercicio{
    position: absolute;
    width: 85.9%;
    top: 0%;
    left: 14.1%;
}

.boton{
    position: absolute;
    top: 40%; 
    left: 4.1%; 
    width: 20%;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.1s ease;
}
.boton:hover{
    transform: scale(1.05);
}
.boton:active{
    transform: scale(0.95);
}

.reiniciarRutina{
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    cursor: pointer;
    font-size: clamp(40px, 7vw, 7vw);
    text-align: center;
    transition: transform 0.1s ease;
}
/*---------------------------VERTICAL-------------------------*/
@media (max-aspect-ratio: 2/3){
    #contenedor{
        width: clamp(260px, 100%, 100%);
        aspect-ratio: 7/16;
        max-height: 100vh;
    }
    #bienvenida{
        font-size: clamp(30px, 15vw, 15vw);
    }
    #elegir{
        font-size: clamp(30px, 13vw, 13vw);
    }
    #rutinaA{
        font-size: clamp(20px, 10vw, 10vw);
    }
    #rutinaB{
        font-size: clamp(20px, 10vw, 10vw);
    }
    /*------------------------------------*/
    .cronometro{
        width: 100%;
        top: 5%;
        font-size: clamp(20px, 10vw, 10vw);
    }
    .preparados{
        width: 100%;
        top: 15%;
        font-size: clamp(10px, 5vw, 5vw);
    }
    .ejercicio {
        width: 100%; 
        top: 25%;
        left: 0%;
    }
    .boton{
        width: 30%;
        top: 70%;
        left: 35%;
    }
}
/*-------------------------ANIMACIONES------------------------*/

@keyframes ocultar {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}
.ocultar{
    animation: ocultar 0.5s ease forwards;
}

@keyframes mostrar {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.aparecer{
    animation: mostrar 0.5s ease forwards;
}
/*--------------------------------------*/
